<html>
<head>
<title>this is in a static folder</title>
</head>
<body>

  <form action="/submission" method="post">
Noun (Plural)<input type="text" name="mg"/><br>
Place<input type="text" name="mg2"/><br>
Noun (Plural)<input type="text" name="mg3"/><br>
Noun<input type="text" name="m4"/><br>
Adjective<input type="text" name="mg5"/><br>
Verb<input type="text" name="mg6"/><br>
Number<input type="text" name="mg7"/><br>
<button>Submit</button>

</form>
<form action="/results" method="get" >
    <p>Question <input type="text" name="answer"/></p>
    <p><input type="submit"></p>
</form>
  </body>
</html>
