<html>
  <head>
    <title>Howdy</title>
  </head>
  <body>
    <h1>Hello {{name}}!</h1>
    <img height="100px" width="150px"
     src="https://blackgeoscientists.files.wordpress.com/2014/06/helloworld.jpg"
     alt="A cute pic of a dude on the world">
    <h2>How are you?</h2>
    <h2>Two {{mg}}, both alike in dignity,
In fair {{mg2}}, where we lay our scene,
From ancient {{mg3}} break to new mutiny,
Where civil blood makes civil hands unclean.
From forth the fatal loins of these two foes
A pair of star-cross`d {{mg4}} take their life;
Whole misadventured piteous overthrows
Do with their  {{mg5}} bury their parents` strife.
The fearful passage of their  {{mg6}} love,
And the continuance of their parents` rage,
Which, but their children`s end, nought could {{mg7}},
Is now the  {{mg7}}  hours` traffic of our stage;</h2>
  </body>
</html>
